* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  background: #121212;
}

.content {
  background: #212121;
  max-width: 1400px;
  padding: 1em;
  color: ghostwhite;
  margin: auto;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-video {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px){
  .content {
    margin-left: 50px;
  }
}

/* Back to top button */
#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #818181;
  color: #222222;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
}

/* Social media icons */
.fab {
  margin-top: 10px;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fab:hover {
  opacity: 0.5;
}

.fa-github-square, .fa-instagram-square, .fa-linkedin {
  background-color: #383838;
  color: #f1f1f1;
}

/* Footer */
.footer {
  margin: auto;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #121212;
  color: #f1f1f1;
  text-align: center;
}
